.taviraj-thin {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: normal;
}

.taviraj-thin-italic {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: italic;
}

.taviraj-extralight {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}

.taviraj-extralight-italic {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: italic;
}

.taviraj-light {
  font-family: "Taviraj", serif;
  font-weight: 300;
  font-style: normal;
}

.taviraj-light-italic {
  font-family: "Taviraj", serif;
  font-weight: 300;
  font-style: italic;
}

.taviraj-regular {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

.taviraj-regular-italic {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: italic;
}

.taviraj-medium {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: normal;
}

.taviraj-medium-italic {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: italic;
}

.taviraj-semibold {
  font-family: "Taviraj", serif;
  font-weight: 600;
  font-style: normal;
}

.taviraj-semibold-italic {
  font-family: "Taviraj", serif;
  font-weight: 600;
  font-style: italic;
}

.taviraj-bold {
  font-family: "Taviraj", serif;
  font-weight: 700;
  font-style: normal;
}

.taviraj-bold-italic {
  font-family: "Taviraj", serif;
  font-weight: 700;
  font-style: italic;
}

.taviraj-extrabold {
  font-family: "Taviraj", serif;
  font-weight: 800;
  font-style: normal;
}

.taviraj-extrabold-italic {
  font-family: "Taviraj", serif;
  font-weight: 800;
  font-style: italic;
}

.taviraj-black {
  font-family: "Taviraj", serif;
  font-weight: 900;
  font-style: normal;
}

.taviraj-black-italic {
  font-family: "Taviraj", serif;
  font-weight: 900;
  font-style: italic;
}

/* normalize */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Taviraj;
  background-color: #f7f6f4;
}

/* -------------------------- sec-one -------------------------- */

.sec-one {
  margin-top: 30px;
}
.sec-one .col-12 > img {
  width: 170px;
  object-fit: contain;
}
.sec-one .col-12 ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.sec-one .col-12 ul a {
  text-decoration: none;
  color: #333333;
  font-size: 21px;
  font-weight: 200;
  font-weight: 400;
  letter-spacing: 2px;
}
.sec-one .col-12 > div:last-child {
  gap: 35px;
}
.sec-one .col-12 > div:last-child .fa-shop {
  padding: 10px;
  position: relative;
}
.sec-one .col-12 > div:last-child .fa-shop::after {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #f1ddc9;
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}
.sec-one .col-12 > div:last-child p {
  margin: 0;
  margin-bottom: -2px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* -------------------------- sec-two -------------------------- */

.sec-two {
  margin-top: 90px;
}
.sec-two .row {
  height: 500px;
  background-color: #f1ddc9;
  position: relative;
}
.sec-two .col-12 {
  gap: 40px;
}
.sec-two .row > img {
  width: 456px;
  position: absolute;
  left: 0;
  top: -9.7px;
}
.sec-two .row > .arrows {
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 15px;
  position: absolute;
  bottom: -6%;
  right: 30px;
  flex-direction: row-reverse;
}
.sec-two .row > .arrows > div:nth-child(1) {
  width: 60px;
  height: 60px;
  background-color: #d84727;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
.sec-two .row > .arrows > div:nth-child(1):hover {
  box-shadow: -4px 4px 0px 0px #333333;
  transition: 0.2s;
}
.sec-two .row > .arrows > div:nth-child(1):active {
  box-shadow: 0px 0px 0px 0px #333333;
}
.sec-two .row > .arrows > div:nth-child(2) {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-color: #d84727;
  border-style: solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.sec-two .row > .arrows > div:nth-child(2):hover {
  background-color: #d84727;
  transition: 0.2s;
}
.sec-two .row > .arrows > div img {
  width: 30px;
}
.sec-two .row > .arrows > div:nth-child(1) img {
  transform: scaleX(-1);
}
.sec-two .row > .texur {
  background-image: url(./photos/Group15.png);
  background-size: cover;
  background-position: center;
  width: 560px;
  height: 365px;
  position: absolute;
  right: -70px;
  top: -86px;
}
/* --------------- col styles --------------- */
.sec-two .col-12 > div:nth-child(1) {
  width: 40%;
}
.sec-two .col-12 > div:nth-child(2) {
  width: 60%;
  margin-top: 56px;
}
.sec-two .col-12 > div:nth-child(2) h5 {
  font-size: 60px;
  color: #333333;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 24px;
  letter-spacing: 2px;
  font-weight: 300;
}
.sec-two .col-12 > div:nth-child(2) h5::after {
  content: "";
  width: 15%;
  height: 1px;
  display: inline-block;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sec-two .col-12 > div:nth-child(2) p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #333333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sec-two .col-12 > div:nth-child(2) > a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  position: relative;
}
.sec-two .col-12 > div:nth-child(2) > a::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sec-two .col-12 > div:nth-child(2) > a:hover:after {
  background-color: #d84727;
  transition: 0.2s;
}
.sec-two .col-12 > div:nth-child(2) > div {
  margin-top: 44px;
  gap: 16px;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(1) {
  text-decoration: none;
  color: white;
  background-color: #d84727;
  padding: 14px 30px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.2s;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(1):hover {
  box-shadow: -4px 4px 0px 0px #333333;
  transition: 0.2s;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(1):active {
  box-shadow: 0px 0px 0px 0px #333333;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(1) i {
  font-size: 15px;
  margin-right: 13px;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(2) {
  border-color: #d84727;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  color: #d84727;
  background-color: transparent;
  padding: 14px 30px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.2s;
}
.sec-two .col-12 > div:nth-child(2) > div a:nth-child(2):hover {
  background-color: #d84727;
  color: white;
  transition: 0.2s;
}

/* -------------------------- sec-Three -------------------------- */

.sec-three{
  margin-top: 211px;
}
.sec-three .col-12 {
  justify-content: space-between;
  gap: 30px;
}
.sec-three .col-12  > div {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 32px;
  position: relative;
  height: 270px;
}
.sec-three .col-12 > div >div{
  width: 80%;
  padding-right: 20px;
}
.sec-three > div > div:nth-child(1) h3 {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 3px;
  color: #333333;
}
.sec-three > div > div:nth-child(1) h3 span {
  font-weight: 600;
}
.sec-three > div > div:nth-child(1) p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: 2.5px;
  font-weight: 200;
  color: #777777;
}
.sec-three > div > div:nth-child(1) a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #333333;
  position: relative;
}
.sec-three > div > div:nth-child(1) a::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s;
}
.sec-three > div > div:nth-child(1) a:hover::after {
  background-color: #d84727;
  transition: .2s;
}
.sec-three .col-12 > div img {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 30px;
}
.sec-three .col-12 > div:nth-child(1) img {
  margin-right: -10px;
  width: 280px;
}
.sec-three .col-12 > div:nth-child(2) img {
  width: 300px;
  margin-bottom: -42px;
}

/* -------------------------- sec-four -------------------------- */

.sec-four{
  margin-top: 200px;
}
.sec-four .col-12:nth-child(1) h6{
  font-size: 36px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}
.sec-four .col-12:nth-child(1) h6::after{
  content: "";
  width: 50%;
  height: 1px;
  display: inline-block;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sec-four .col-12:nth-child(2){
  margin-top: 78px;
}
.sec-four .col-12:nth-child(2){
  justify-content: space-between;
}
.sec-four .col-12:nth-child(2) a{
  display: grid;
  background-color: white;
  padding: 24px;
  text-decoration: none;
}
.sec-four .col-12:nth-child(2) a img{
  width: 220px;
  margin-top: -60px;
}
.sec-four .col-12:nth-child(2) a h5{
  font-size: 24px;
  color: #333333;
  margin-top: 32px;
}
.sec-four .col-12:nth-child(2) a i{
  font-size: 16px;
  color: #777777;
  margin-top: 2px;
  font-style: normal;
}
.sec-four .col-12:nth-child(2) a span{
  font-size: 16px;
  color: #777777;
  text-decoration:line-through #D93F3F;
  margin-top: 6px;
}
.sec-four .col-12:nth-child(2) a p{
  font-size: 24px;
  color: #333333;
}